
<div class="container w-50">
<p> Enter Product Parent Name </p>
  <%= simple_form_for(@product_type) do |f| %>
    <%= f.input :title %>
    <%= f.submit "Next", class: "btn btn-primary" %>
  <% end %>
</div>
