// Define variables for your color scheme

// For example:
$red: #DC4950;
$red-bg:  #dc49508c;
$dark: #393E46;
$blue: #AEE6E6;
$yellow: #ffd269af;
$orange: #ffb87e;
$gray: #EEEEEE;
$black: #222831;
$white: #ffffFf;
