// Specific CSS for your home-page
p {
    color: black;
}

.text-gray{
  color: gray;
}

.bg-red{
  background-color: $red-bg;
}

.big-card {
  background-color: white;
  border-radius: $border-radius;
  padding: 8px;
}
