<div class="container">
  <h1 class="m-3 text-center">Welcome to Amazon Dashboard</h1>
  <% if user_signed_in? %>
  <% else %>
      <p class="m-3 text-center">You must sign in to continue</p>
  <% end %>
  <%= area_chart Sale.group_by_day(:date, format: "%d").sum(:sale_amt) %>
</div>
