.navbar-lewagon {
  justify-content: space-between;
  background: $dark;
  color: white;
    & i {
      color: white;
    }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color:white;

  &:hover {
    color: rgb(186, 186, 186);
  }
}
