.table {
  background-color: white;

  & th, td {
    vertical-align: middle;
    text-align: left;
    font-size: smaller;
    padding: .5rem;
  }

}

.title {
  a, p {
    color: black;

    &:hover {
      color: rgba(0, 0, 0, 0.5);
      text-decoration: none;
    }
  }
}

.carrot {
  font-size: 0.5rem;
  vertical-align: text-bottom;
  margin-bottom: .25rem;
  padding-left: .1rem;
  align-self: flex-end;
}
